@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Didact-Gothic';
        font-style: normal;
        font-display: swap;
        src: url('/fonts/DidactGothic-Regular.ttf');
    }
}